<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/temp.css')}}">
		<title>{% block title %}Cathy Cater!{% endblock %}</title>
		<style type="text/css">
			body{
				background-image: url({{ url_for('static', filename = 'img/cat.jpg')}})
			}
		</style>
		</head>
	<body>
    You have successfully been logged out! <br>
		{% if username %}
			Logged in as {{ username }}, <a href="{{ url_for("unlogger") }}">click here to logout</a>
			<br />
			<br />
    {% else %}
      <br />
      <a href="{{ url_for("publicmainpage") }}">Click to go back to main page!</a>
      <br />

		{% endif %}
		{% block body %}
		{% endblock %}
	</body>
</html>
