<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"
  <title> Chatty Kathy! </title>
</head>
<body>
  <header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/temp.css')}}">
    <style type="text/css">
      body{
        background-image: url({{ url_for('static', filename = 'img/chats.jpg')}})
      }
    </style>
    <h1>Chatty Kathy! </h1>
    <button id="btn">Submit Chat!</button>
    <div id="animal"></div>
  </header>
  <script type = "text/javascript" src = "{{url_for('static', filename='c.js')}}"></script>
</body>
</html>
