<!DOCTYPE html>
<html>
<head>
  <title> Chatty Kathy! </title>
</head>
<body>
  <header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/temp.css')}}">
    <style type="text/css">
      body{
        background-image: url({{ url_for('static', filename = 'img/chats.jpg')}})
      }
    </style>
    <h1>Welcome to Chatty Kathy!</h1>
    <p>You've been logged out!</p>
    <p><a href = "{{url_for('signingup')}}">Sign Up</a> <a href = "{{url_for('signingin')}}">Sign In</a></p>
  </header>
</body>
</html>
